body 
{
    margin: 0;
    padding: 0;
}
.bg-heading
{
    background-color: blue !important;
}
.navbar 
{
    width: 100%;
    height: auto;
    padding: 10px;
}
.nav-link
{
    margin-left: 22% !important;
}
.nav-link li
{
display: inline-block;
padding: 5px 25px;
}
.nav-link a 
{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: capitalize;
}
.dropdown:hover .dropdown-menu
{
    display: block;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
.nav-link
{
    margin-left: 3% !important;
}
.nav-link li
{
display: block;
padding: 5px 15px;
}   
.reg-form
{
    width: 100% !important;
}
}